@charset "utf-8";
/* CSS Document */


body{ margin:0px; padding:0px; font-family:Tahoma, Geneva, sans-serif; font-size:13px; color:#000000;}

a{ text-decoration:none; color:#1b90e1;}
a:hover{ color:#4fb4f7;}

h3{ color:#1b90e1; margin:0px; padding:5px; }
#top{ height:60px; padding:10px 0 5px 0; background-color:#000000; color:#FFFFFF;  }

#container {  width:980px; margin:0px auto 0px auto; }

#logo { height: 60px; width:300px; float:left; }

#menu { height: 60px; width:500px; float:right; text-align:right; margin-top:20px; }

#content{ width:980px;   min-height:600px; height:auto;   margin:10px auto 10px auto;  } 

.problems{ color:#333333; letter-spacing:1px; font-size:14px;}

.post_problems{ background-color:#4fb4f7; color:#fff; padding:5px; border-radius:5px;}
.post_problems:hover{ background-color:#1b90e1; color:#fff; }

.post_solutions{  background-color:#339933;  color:#fff; padding:5px; border-radius:5px;}
.post_solutions:hover{ background-color:#66cc66; color:#fff;    }


#listing{ width:650px; float:left; padding:5px; }
.list{ border:3px solid rgba(62, 160, 216, .4);
	  min-height:120px;  padding:5px;  }

.list:hover{ border:3px solid #4fb4f7; background-color:#fff;  }

.list2{   background: rgba(106, 218, 79, .2);
	border: 3px solid rgba(106, 218, 79, .4); min-height:120px;  padding:5px;  }

.list2:hover{ border:3px solid #66cc66;; background-color:#fff;  }

#sideBar{ width:250px; float:right; padding:5px;}

#footer{ padding:20px 0; background-color:#000000; color:#FFFFFF; text-align:center;  }